@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
    font-family: 'Manrope', sans-serif;
}
:root {
    --pad : max(20px, 5vmin);
}
body {
    background-color: #000005;
}
h1 {
    color: #fff;
}
#bgSphere {
    width: 100%; 
    height: 100%;
    overflow: hidden;
}
main {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: var(--pad);
    right: var(--pad);
    bottom: var(--pad);
    left: var(--pad);
    border: 1px solid #fff;
}
div {
    position: absolute;
}
@media (max-width: 1000px) {
    
}